/* Estilos padrão para todos os dispositivos */

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: #0F8B8D;
}

.back-title {
    background-color: #143642;
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.title h1 {
    padding: 5px 0px 5px 0px;
    text-shadow: 2px 2px 4px black;
}

.indice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indice i {
    font-size: 30px;
    padding: 15px;
}

.indice th {
    display: inline;
    font-weight: bold;
    background-color: #165959;
    list-style-type: none;
    /* border: 5px solid #144F3E; */
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 100px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.indice table a {
    color: white;
}

.flexButton {
    display: flex;
    align-items: center;
}

.flexText {
    display: flex;
    align-items: center
}

.language {
    justify-content: flex-end;
    font-weight: bold;
    background-color: #165959;
    list-style-type: none;
    border: 5px solid #165959;
    border-radius: 100px;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    align-items: center
}

.language a {
    text-decoration: none;
    color: white;
}

.language i {
    font-size: 30px;
}

.about-me {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.about-me h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: aliceblue;
}

.under {
    background-color: #0F8B8D;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-top: 80px;
    margin: 1%;
    margin-top: 0;
}

.about {
    background-color: #163659;
    border: 10px solid #163659;
    border-radius: 100px;
    padding: 40px;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.about p {
    text-align: justify;
    color: white;
}

.under img {
    width: 150px;
    margin-bottom: 10px;
    border-radius: 200px;
    border: 10px solid #165959;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.about p {
    display: inline-block;
}

#back-portifolio {
    display: flex;
    justify-content: center;
    background-color: #165959;
    border: 10px solid #165959;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.project {
    background-color: #14204F;
    border: 10px solid #14204F;
    border-radius: 100px;
    padding: 40px;
    margin: 1%;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}

.project h2 {
    text-align: center;
    color: white;
}
.expandable-content a {
    color: white;
}

.textClick {
    text-align: center;
    background-color: #163659;
    border: 1px solid #144F3E;
    align-items: center;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px;
    border-radius: 100px;
}

.expandable-content {
    display: none;
}

.textClick {
    color: white;
    font-style: italic;
}

.linkAcess {
    text-align: center;
    color: black;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
    margin: 10px;
}

.aboutText {
    padding-top: 20px;
}

.technology,
.howToUse,
.resources,
.aboutText {
    text-align: justify;
    padding-top: 20px;
    border: 10px double #163659;
    background-color: #163659;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    color: white;
}

footer {
    background-color: #143642;
    color: aliceblue;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para dispositivos móveis */

@media screen and (max-width: 1000px) {
    .back-title {
        height: 80px;
    }

    .under {
        flex-direction: column;
        padding-top: 80px;
    }

    .under img {
        margin: 10px;
    }

    .title {
        font-size: 1em;
    }
    .indice i {
        font-size: 35px;
        padding: 15px;
    }
    #back-portifolio {
        flex-direction: column;
    }
}
