* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}
body {
    background-color: #0F8B8D;
}
.back-title{
    background-color: #143642;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.title {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:aliceblue;
}
.title h1 {
    padding: 5px 0px 5px 0px;
    text-shadow: 2px 2px 4px black;
}
.indice {
    display: flex;
    justify-content: center;
    align-items: center;
}

.indice th {
    display: inline;
    font-weight: bold;
    background-color: #0F8B8D;
    list-style-type: none;
    border: 1px solid black;
    width: auto;
    height: auto;
    margin: auto;
    border-radius: 100px;
    display: inline-block;
    padding: 5px;
    margin: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.indice table a{
    color: white;
}
.under{
    background-color: #0F8B8D;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    padding-top: 100px;
}
.about{
    background-color: #86BBD8;
    border: 10px solid #0F8B8D;
    border-radius: 100px;
    padding: 40px;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
.under img {
    width: 150px;
    border-radius: 200px;
    border: 10px solid #0F8B8D;  
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);

}
.about p{
    display: inline-block;
}
/* #back-habilities{
    background-color: #EC9A29;
    border: 10px solid #EC9A29;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 4px rgba(2, 0, 0, 0.9);
} */
#back-portifolio{
    background-color: #DAD2D8;
    border: 10px solid #DAD2D8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
.project {
    background-color: #ec9b296b;
    border: 10px solid #EC9A29;
    border-radius: 100px;
    padding: 40px;
    margin: 1%;
    overflow: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.9);
}
.project h2 {
    text-align: center;
}
button {
    text-align: center;
    background-color: #ec9b296b;
    border: 1px solid #EC9A29;
    align-items: center;
    display: block;
    margin: 0 auto;
}
.expandable-content {
    display: block;
}
.textClick {
    font-style: italic;
}
.linkAcess{
    text-align: center;
    color: black;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
    margin: 10px;
}
.aboutText {
    padding-top: 20px;
}
.technology, .howToUse, .resources {
    padding-top: 20px;
    border: 10px double #EC9A29;
    background-color: #DAD2D8;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}
footer {
    background-color: #143642;
    color:aliceblue;
}
