* {
    font-family: sans-serif;
    text-align: center;
    font-weight: 600;
}
body {
    background-image: linear-gradient(0.25turn, #540D6E, #3BCEAC);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #EE4266;
    color: white;
    margin-bottom: 20px;
    padding: 10px;
}
#save-meme {
    background-color: #0EAD69;
    border: 1px solid #0EAD69;
    width: 100px;
    height: 30px;
}
#text-input{
    background-color: #0EAD69;
    border: 1px solid #0EAD69;
}
#meme-insert {
    background-color: #0EAD69;
    border: 1px solid #0EAD69;
}
#meme-image-container {
    width: 400px;
    height: 400px;
    position: relative;
    border: 1px solid black;
    background-color: white;
    z-index: 0;
}

.text-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    margin-top: 150px;
}

#meme-text {
    position: relative;
    z-index: 1;
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-shadow: 5px 5px 5px black;
}

#meme-image {
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 0;
}
.meme-option {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.buttonChange {
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid transparent;
    margin: 5px;
    cursor: pointer;
}

#fire {
    background-color: rgb(255, 0, 0);
    border-color: red;
}

#water {
    background-color: rgb(0, 0, 255);
    border-color: blue;
}

#earth {
    background-color: rgb(0, 128, 0);
    border-color: green;
}

.input-wrapper {
    margin-bottom: 10px;
}

#meme-insert {
    margin: 10px;
}
footer {
    background-color: #EE4266;
    position: fixed;
    bottom: 0;
    width: 100%;
}
